<!-- views/connect-wallet.ejs -->

<html>
<head>
  <title>Connect Your Wallet</title>
</head>
<body>
  <h1>Connect Your Wallet</h1>
  <button id="connectWalletButton">Connect Wallet</button>
  <div id="walletAddressContainer">
	<p id="walletAddress"></p>
    <p id="signature"></p>
  </div>

  <script>
  // Function to connect the wallet
  async function connectWallet() {
    try {
      if (typeof window.ethereum !== 'undefined') {
        // Get the user's account
        const accounts = await window.ethereum.send('eth_accounts');
        const userAddress = accounts.result[0];
        console.log("Address: " + userAddress);
        document.getElementById('walletAddress').textContent = `Connected with address: ${userAddress}`;

        // Hide the "Connect Wallet" button
        document.getElementById('connectWalletButton').style.display = 'none';

        // Sign a message
        const message = "Sign in at UTU";
        const signature = await window.ethereum.request({
          method: 'personal_sign',
          params: [message, userAddress],
        });
        console.log("Signature: " + signature);
        document.getElementById('signature').textContent = `Signature: ${signature}`;

        // Authorize with UTU api

        // Make a POST request to the bot endpoint with the result
      } else {
        alert('MetaMask is not installed. Please install it to use this feature.');
      }
    } catch (error) {
      console.error(error);
      alert('Failed to connect to MetaMask. Please try again.');
    }
  }

  // Add a click event listener to the Connect Wallet button
  document.getElementById('connectWalletButton').addEventListener('click', connectWallet);
  </script>
</body>
</html>
